<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/scrips/cargar.js"></script>
        <link href="" rel="stylesheet">
        <title>carga</title>
    </head>
    <body>
        <button id="volver">volver</button>
        <h2>cargar alumno</h2>
        <input id="name" type="text" placeholder="ingrese el nombre">
        <div>
            <label for="progra">Eligir materia: </label>
            <select id="progra" name="progra">
            <option value="Programacion">Programacion</option>
            <option value="Matematica">Matematica</option>
            <option value="Sistemas">Sistemas</option>
            </select>
            <label for="mate">ingrese la nota en la materia: </label>
            <select id="mate" name="mate">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            </select>
        </div>
        <button id="cargar">cargar notas</button>
        <p id="texto"></p>
    </body>
</html>