<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scrips/modificar.js"></script>
    <link href="" rel="stylesheet">
    <title>consulta</title>
</head>
<body>
    <button id="volver">volver</button>
    <br>
    <div id="contenido1">
        <h2>modificar alumno</h2>
        <h3>DNI del alumno:</h3>
        <input placeholder="11223344" type="number" id="dni">
        <button id="modificar">modificar</button>
    </div>
    <a id="texto"></a>
        <div id="contenido">
            <div>
                <h3>modificar el nombre:</h3>
                <input id="name" placeholder="ricardo">
                <h3>modificar el mail:</h3>
                <input id="mail" placeholder="maty@gmail.com">
                <br>
                <button id="actualizar"> modificar </button>
                <button id="cancelar">cancelar</button>
            </div>
        </div>
</body>
</html>